# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
db.sqlite3
vector_db/

# Testing
.coverage
nosetests.xml
pytest_cache/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Miscellaneous
.DS_Store
Thumbs.db

# Custom ignored directories
projects/unifuzz/
RAG/data/audit_reports
RAG/data/audit_reports2
RAG/data/temp_pdfs
# Loại bỏ output, log, cache, virtualenv
*.json
*.txt
*.csv
*.log

# output
analysis_output.*
dataflow_analysis_result.*
slither_output.*
results.*
summary_output*
cache/
log/

# Python bytecode
__pycache__/
*.pyc


# examples, test
examples/
test.py


